body {
    background-color: white;
}

h1 {
    color: white;
    text-align: center;
}

a.fresh:link {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.fresh:visited {
  color: white;
  font-size: 20px;
  font-family:sans-serif;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.fresh:hover, a.fresh:active {
  background-color: blue;
  font-size: 150%;
}

div.option1 {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    bottom:10px;
    right:10px;
}

div.option1:hover {
    width: 120px;
    height: 120px;
    background-color: orange  ;
    border: 1px solid white;
}

div.option2 {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 1px solid white;
    position: absolute;
    left:10px;
    top:10px;
}

div.option2:hover {
    width: 120px;
    height: 120px;
    border: 1px solid white;
    background-color: crimson ;
}
