<!DOCTYPE html>
<html>
  <head>
  	<title>Congresspeople Fun(d)raising</title>
  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="styles.css" />
  	<link href='https://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
  </head>
  <body>
    <script type="text/javascript" src="data/us_states.js"></script>
    <embed src="/data/money.mp3"
        loop="false"
        autoplay="true"
        width="0"
        height="0">
    </embed>
  	<h1 id="title">Congresspeople Fun(d)raising</h1>
  </body>
</html>
